<%- include('../views/partials/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col">
                
                    <p>
                        <%= result.address %>
                    </p>
                    <p>
                        <%= result.price %>
                    </p>
                   
            </div>
        </div>
    </div>

    <%- include('../views/partials/footer.ejs') %>