<%- include('../views/partials/header.ejs') %>


    <div class="container-fluid" style="min-height: 100vh;">
        <div class="row">

            <div class="col mt-xl-2">
                <div class="mt-xl-2"></div>

                <div class="text-center mt-0">
                    <h1>The Premier Real Estate Listing Service</h1>
                </div>

                <div class="container d-flex justify-content-center align-items-center">
                    <form method="POST" action="#" class="w-100">
                        <div class="align-items-center flex-column row">
                
                            <div class="col-md-4 col-sm-6">
                        
                                <div class="mt-xl-5">
                                    
                                    <input type="text" class="form-control" placeholder="Enter Location" name="location" autocomplete="off">
                                    
                                </div>
                
                                
                
                                <div class="mt-5 mb-xl-5 text-center">
                                    <input type="submit" name="submit" value="Submit" class="btn btn-lg btn-success w-75">
                                </div>
                                <br><br>
                
                
                            </div>
                
                
                        </div>
                    </form>
                </div>








            </div>
        </div>
    
    </div>

        <%- include('../views/partials/footer.ejs') %>